<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <main class="container">
        <div class="card">
            <div class="card_body">
                <h2 class="card_title">Shop is <span class="<%= (status === 'Open') ? "green" : "red" %>"><%= status %></span></h2>
                <% if(status === 'Open') {%>
                    <p class="card_text">Shop will be closed within:</p>
                <% } else { %>
                    <p class="card_text">Shop will be open after:</p> 
                <% } %>

                <div class="countdown_section">
                    <div id="days" class="value">00</div>
                    <div class="countdown_label">DAYS</div>     
                </div>
                <div class="countdown_section">
                    <div id="hours" class="value">00</div>
                    <div class="countdown_label">HOURS</div>
                </div>
                <div class="countdown_section">
                    <div id="minutes" class="value">00</div>
                    <div class="countdown_label">MINUTES</div>
                </div>
                <div class="countdown_section">
                    <div id="seconds" class="value">00</div>
                    <div class="countdown_label">SECONDS</div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>